<!-- HTML template here -->
<div class="flex items-start justify-center h-full w-full bg-ups-white">
  <div class="relative z-20">
    <img src="assets/images/1107007~747-8-1-1080 1.png" alt="hero bg" class="absolute inset-0">
    <div class="backdrop-blur bg-ups-grey-4 rounded-full">
      <div class="flex items-center justify-between gap-4 p-4 rounded-lg shadow">
        <div class="text-ups-gold font-roboto-black">LVP</div>
        <div class="text-ups-blue font-roboto-light">Ship</div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-center gap-8 py-4">
    <button (click)="onClick()" class="bg-ups-gold text-ups-white font-roboto-bold rounded-full px-4 py-2">
      <span class="text-ups-grey-3">Get Started</span>
    </button>
  </div>
</div>